// Customize here
// ALL @use rules MUST come first, before any other rules
@use './variables';
@use "./global.scss" as *;
//@use "simplelightbox/src/simple-lightbox.scss" as sl;


// :root {
//       --font-lato: 'Lato', sans-serif;
//       --font-alegreya: 'Alegreya', serif;
//     body {
//       font-family: 'Lato', sans-serif;
//     }

// }
// // Google Fonts imports - @import rules come AFTER all @use rules
// @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Lato&display=swap');
// @import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic");

