
{% extends "base.html" %}
{% load static i18n %}

<!-- templates/home.html -->

{% block content %}
<div id="home"></div>
        <h1 class="text-2xl mb-2 mt-4 elegant-title">
         Hello world from home.html (django template)!
        </h1>
        <img class="object-center" src="{% static 'img/HelloWorldDjango.png' %}" />

<div id="vue-hello"></div>
<div id="vue-login-rest_auth"></div>

{% comment "django login" %}
{% if user.is_authenticated %}
  Hi {{ user.email }}!
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
{% endcomment %}

{% endblock content %}
